# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to munge specific files
*.js    eol=lf
*.ts    eol=lf
*.vue   eol=lf
*.css   eol=lf
*.html  eol=lf
*.json  eol=lf
*.md    eol=lf

# Graphics
*.png   binary
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.ico   binary
*.svg   text
